.title {
    text-align: center;
    padding: 20px;
    background-color: rgb(202, 234, 123);
    border-bottom: 2px solid black;
    
}

p {
  text-align: center;
  font-size: 20px;
}

hr {
  border-color: black;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    
} 

#shuffle1, #shuffle2, #shuffleBike, #reflectBike, #simulateBike, #answerPropBike, #reflectBikePvalue {
    font-size: medium;
    font-weight: bold;
    border-width: 2px;
    border-color: black;
    background-color: rgb(202, 234, 123);
}


.shiny-input-container{
    font-size: large;
}

.selectize-input {
    border-width: 2px;
    border-color: black;
}

#n {
    font-size: large;
    border-width: 2px;
    border-color: black;
} 

.label {
    font-size: large;
} 

.question {
  font-weight: bold;
  color: rgb(72, 149, 20);
}

.reflect {
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding: 1cm;
}

.preamble {
  padding-top: 0.5cm;
}

.aside {
  font-style: italic;
}

li {
  font-size: large;
}

